<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Create User</h2>
<br><br>
<form th:action="@{/user-management/users/create}" th:object="${userDTO}" method="post">
    <label>Enter User First Name:</label>
    <input type="text" name="firstName" placeholder="Enter User First Name" required/>
    <br><br>
    <label>Enter User Last Name:</label>
    <input type="text" name="lastName" placeholder="Enter User Last Name" required/>
    <br><br>
    <label>Enter User Date Of Birth:</label>
    <input type="date" name="dateOfBirth" placeholder="Enter User Date Of Birth" required/>
    <br><br>
    <label>Enter User Phone Number:</label>
    <input type="text" name="phoneNumber" placeholder="Enter User Phone Number" required/>
    <br><br>
    <label>Enter User Email:</label>
    <input type="email" name="email" placeholder="Enter User Email" required/>
    <br><br><br>
    <button type="submit">Create User</button>
</form>
<br><br>
<hr>
<br><br>
<a href="http://127.0.0.1:8080/user-management/index">
    <button type="button">User Management</button>
</a>
</body>
</html>