<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User By Email</title>
</head>
<body>
<h2>Find user by Email</h2>
<form th:action="@{/user-management/users/user-by-email}" method="get">
    <input type="text" name="email" placeholder="Enter User Email"/>
    <button type="submit">Find User</button>
</form>

<br><br>
<hr>
<br><br>
<a href="http://127.0.0.1:8080/user-management/index">
    <button type="button">User Management</button>
</a>
</body>
</html>