<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users searched by first name</title>
</head>
<body>
<h2>Users List By Specific First Name</h2>
<br>
<br>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>Phone number</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersPageBySpecificFirstName.content}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.dateOfBirth}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/user-management/users/list-all-by-specific-first-name(page=${usersPageBySpecificFirstName.number - 1},
        size=${usersPageBySpecificFirstName.size}, firstName=${param.firstName})}"
       th:if="${usersPageBySpecificFirstName.hasPrevious()}">Previous</a>

    <span th:each="i : ${#numbers.sequence(0, usersPageBySpecificFirstName.totalPages - 1)}">
            <a th:href="@{/user-management/users/list-all-by-specific-first-name(page=${i},
                size=${usersPageBySpecificFirstName.size}, firstName=${param.firstName})}"
               th:classappend="${i == usersPageBySpecificFirstName.number ? 'active' : ''}"
               th:text="${i + 1}"></a>
        </span>

    <a th:href="@{/user-management/users/list-all-by-specific-first-name(page=${usersPageBySpecificFirstName.number + 1},
        size=${usersPageBySpecificFirstName.size}, firstName=${param.firstName})}"
       th:if="${usersPageBySpecificFirstName.hasNext()}">Next</a>
</div>
<br><br>
<a href="http://127.0.0.1:8080/user-management/index">User management</a>
</body>
</html>