<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users By First Name</title>
</head>
<body>
<h2>Find all users by first name</h2>
<form th:action="@{/user-management/users/user-by-specific-first-name}" method="get">
    <input type="text" name="firstName" placeholder="Enter User First Name"/>
    <button type="submit">Find Users</button>
</form>

<br><br>
<hr>
<br><br>
<a href="http://127.0.0.1:8080/user-management/index">
    <button type="button">User Management</button>
</a>
</body>
</html>