<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users By Last Name</title>
</head>
<body>
<h2>Find all users by last name</h2>
<form th:action="@{/user-management/users/user-by-date-of-birth}" method="get">
    <input type="date" name="dateOfBirth" placeholder="Enter User Date Of Birth"/>
    <button type="submit">Find Users</button>
</form>

<br><br>
<a href="http://127.0.0.1:8080/user-management/index">User management</a>
</body>
</html>